body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('miras3.png') fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
}

header {
  background-color: #555555;
  color: #fff;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 0.3em;
}

main {
  padding: 2em;
}

footer {
  margin-top: 4em;
  background-color: #717070;
  color: #fff;
  padding: 1em;
  text-align: center;
}

video {
  margin-left: 15px;
}

#kilometersInput {
  border: rgb(188, 185, 185);
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

#cateringBtn {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  border-radius: 7px;
  border-style: solid;
  padding: 5px;
}

#kilometersInput:focus-visible, 
button:focus-visible {
  box-shadow: 0 0 3px 2px rgba(8, 24, 126, 1);
}

.kurs {
font-size: 22px;
}